@charset "UTF-8";
/*----PLANETA ECOMMERCE*/
/*-------------------------------------------------------*/
/*1.- FUENTES ...........................................*/
/*2.- FUENTE PERSONALIZADAS ICON PLANET .................*/
/*3.- COLORES ...........................................*/
/*4.- GENERAL(BOTONES, TIPOGRAFÍA).......................*/
/*6.- LOGIN .............................................*/
/*7.- CSS ESPECÍFICO ....................................*/
/*8.- CSS MEDIA .... ....................................*/
/*==================================================*/
/*1.-FUENTES........................................*/
/*==================================================*/
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

/*==================================================*/
/*2.-FUENTES PERSONALIZADAS ICON PLANET ............*/
/*==================================================*/
@font-face {
  font-family: 'icomoon-planet';
  src: url("../fonts/icomoon-planet.eot?aiyge5");
  src: url("../fonts/icomoon-planet.eot?aiyge5#iefix") format("embedded-opentype"), url("../fonts/icomoon-planet.ttf?aiyge5") format("truetype"), url("../fonts/icomoon-planet.woff?aiyge5") format("woff"), url("../fonts/icomoon-planet.svg?aiyge5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-planet' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down-l:before {
  content: "\e910"; }

.icon-address:before {
  content: "\e90a"; }

.icon-arrow-left:before {
  content: "\e90f"; }

.icon-arrow-right:before {
  content: "\e921"; }

.icon-arrow-down:before {
  content: "\e910"; }

.icon-card1:before {
  content: "\e903"; }

.icon-client:before {
  content: "\e904"; }

.icon-coins:before {
  content: "\e907"; }

.icon-exit:before {
  content: "\e90c"; }

.icon-heart:before {
  content: "\e902"; }

.icon-info:before {
  content: "\e905"; }

.icon-money:before {
  content: "\e900"; }

.icon-arrow-down2:before {
  content: "\e911"; }

.icon-arrow-right2:before {
  content: "\e912"; }

.icon-facebook:before {
  content: "\e913"; }

.icon-twitter:before {
  content: "\e914"; }

.icon-whatsapp:before {
  content: "\e915"; }

.icon-list:before {
  content: "\e916"; }

.icon-grid:before {
  content: "\e917"; }

.icon-certificate:before {
  content: "\e918"; }

.icon-config:before {
  content: "\e919"; }

.icon-card:before {
  content: "\e91a"; }

.icon-box:before {
  content: "\e91b"; }

.icon-lock:before {
  content: "\e91c"; }

.icon-buy-check:before {
  content: "\e91d"; }

.icon-buy-pluss:before {
  content: "\e91e"; }

.icon-time:before {
  content: "\e91f"; }

.icon-bag-money:before {
  content: "\e920"; }

.icon-profile:before {
  content: "\e909"; }

.icon-search:before {
  content: "\e90d"; }

.icon-security:before {
  content: "\e90b"; }

.icon-star:before {
  content: "\e908"; }

.icon-store:before {
  content: "\e901"; }

.icon-store1:before {
  content: "\e906"; }

.icon-store2:before {
  content: "\e90e"; }

/*==================================================*/
/*3.- COLORES & ANIMACIONES.........................*/
/*==================================================*/
/*==================================================*/
/*4.- GENERAL.......................................*/
/*==================================================*/
body {
  font-family: Nunito;
  margin: 0;
  padding: 0; }
  body p {
    font-size: 12px;
    color: #3D4042;
    line-height: 14px; }

h5 {
  font-size: 18px;
  color: #3D4042;
  margin-bottom: 8px; }

h4 {
  font-size: 23px;
  color: #185289;
  margin-bottom: 0px; }

.prev-price {
  color: #6B3891;
  text-decoration: line-through;
  font-weight: 500; }

.pill-purple {
  background-color: #6B3891;
  border-radius: #6B3891;
  padding: 10px;
  color: #ffffff;
  border-radius: 15px;
  font-weight: 500; }

.card p {
  margin-bottom: 10px; }

.vertical-center {
  margin-top: 15%;
  text-align: center;
  align-items: center; }
  .vertical-center .btn {
    display: inline; }

.logoForm {
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 2; }
  .logoForm img {
    width: 180px; }

.bgAwesome {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  position: fixed;
  margin: 0;
  padding: 0; }

.bgWhite {
  -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  background-color: #ffffff;
  padding: 40px 50px; }

.linkPurple {
  color: #563F99;
  text-decoration: underline; }

.linkBlue {
  color: #151F28;
  text-decoration: underline; }

.f-right {
  float: right;
  text-align: right;
  display: inline-block;
  width: 100%; }
  .f-right a {
    float: right;
    width: 100%; }

.fullwd {
  width: 100% !important;
  display: inline-block; }

.separador {
  width: 100%;
  border-bottom: 1px solid #D6D6D6;
  margin: 19px 0px 19px 0px; }

.form-check {
  font-size: #5E5E5E;
  font-size: 13px;
  line-height: 15px; }

.tittleForm h1 {
  color: #3D4042;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  margin-top: -4px;
  letter-spacing: -1px;
  font-size: 32px; }

.tittleForm span {
  text-transform: uppercase;
  font-size: 12px;
  color: #185289;
  font-weight: 600;
  margin-bottom: 0px; }

@-webkit-keyframes degradateAnim1 {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

@-moz-keyframes degradateAnim1 {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

@-o-keyframes degradateAnim1 {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

@keyframes degradateAnim1 {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #eaecf8; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6B3891;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #6B3891; }

.btn {
  font-size: 14px !important;
  border: 1px solid #6B3891;
  background-color: #ffffff;
  font-size: 17px;
  display: block;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  color: #6B3891;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  font-weight: 300;
  margin-top: 10px;
  width: auto;
  cursor: pointer; }

.btn-degraded2 {
  color: #fff !important;
  padding: 15px 20px;
  font-weight: 700;
  border: 1px solid transparent;
  text-decoration: none;
  background: #882e85;
  background: -moz-linear-gradient(left, #882e85 0%, #573f99 53%, #145488 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #882e85), color-stop(53%, #573f99), color-stop(100%, #145488));
  background: -webkit-linear-gradient(left, #882e85 0%, #573f99 53%, #145488 100%);
  background: -o-linear-gradient(left, #882e85 0%, #573f99 53%, #145488 100%);
  background: -ms-linear-gradient(left, #882e85 0%, #573f99 53%, #145488 100%);
  background: linear-gradient(to right, #882e85 0%, #573f99 53%, #145488 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#882e85', endColorstr='#145488', GradientType=1 ); }

.btn-degraded2:hover {
  color: #6B3891 !important;
  background: #ffffff !important;
  border-radius: 12px;
  border: 1px solid #563F99; }

.btn-degraded {
  color: #fff !important;
  padding: 15px 60px;
  font-weight: 700;
  border: 1px solid transparent;
  text-decoration: none;
  background: linear-gradient(155deg, #882e85, #573f99, #145388);
  background-size: 200% 200%;
  -webkit-animation: degradateAnim1 1s ease infinite;
  -moz-animation: degradateAnim1 1s ease infinite;
  -o-animation: degradateAnim1 1s ease infinite;
  animation: degradateAnim1 1s ease infinite;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#145488', endColorstr='#882e85', GradientType=1 ); }
  .btn-degraded i {
    font-size: 30px;
    line-height: 2px;
    position: relative;
    top: 5px;
    margin-right: 5px; }

.btn-degraded:hover {
  color: #185289 !important;
  background: #ffffff !important;
  border-radius: 12px;
  border: 1px solid #185289; }

.back {
  color: #185289;
  position: absolute;
  left: 20px;
  top: 20px; }

.btn-arrow {
  color: #185289 !important;
  border: 1px solid #185289 !important;
  padding: 0px 2px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 10px; }
  .btn-arrow i {
    font-size: 30px;
    line-height: 2px;
    position: relative;
    top: 7px;
    margin-right: 0px; }

.border-form {
  border: 1px solid #D6D6D6;
  padding: 20px;
  border-radius: 15px; }

.scrollable {
  overflow-y: scroll;
  height: 90vh; }

.text-center {
  justify-content: center;
  text-align: center; }

.text-right {
  float: right; }

.btn-arrow:hover {
  color: #ffffff !important;
  border: 1px solid #185289 !important;
  padding: 0px 2px;
  background-color: #185289; }

.btn-red {
  color: #852222 !important;
  border: 1px solid #852222 !important;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px; }

.btn-red:hover {
  color: #ffffff !important;
  background-color: #852222; }

.btn-purple {
  background-color: #ffffff1f;
  color: #563F99 !important;
  border: 2px solid #563F99 !important;
  padding: 10px 20px;
  font-weight: 800;
  text-decoration: none; }
  .btn-purple i {
    font-size: 30px;
    line-height: 2px;
    position: relative;
    top: 5px;
    margin-right: 5px; }

.btn-purple.small {
  color: #ffffff !important;
  border: 2px solid #563F99 !important;
  background-color: #563F99 !important;
  padding: 8px 10px 5px 10px;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px !important; }
  .btn-purple.small i {
    font-size: 30px;
    line-height: 2px;
    position: relative;
    top: 5px;
    margin-right: 5px; }

.btn-purple:hover {
  color: #ffffff !important;
  background-color: #6B3891; }

.btn-purple.small:hover {
  color: #6B3891 !important;
  background-color: #ffffff !important; }

.btn-blue {
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid #185289;
  background-color: #ffffff;
  color: #185289;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px 20px; }

.btn-blue:hover {
  color: #fff;
  background-color: #185289; }

.btn-blue-small {
  text-decoration: none;
  border: 1px solid #185289;
  background-color: #ffffff;
  color: #185289;
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 20px;
  font-size: 12px !important;
  display: inline; }

.btn-blue-small.active {
  background-color: #185289;
  color: #ffffff; }

.btn-facebook {
  border: 1px solid #185289;
  background-color: #185289;
  padding: 15px 15px 10px 15px;
  color: #ffffff;
  width: 100%;
  position: relative;
  line-height: 20px;
  font-weight: 100; }
  .btn-facebook i {
    font-size: 30px;
    line-height: 2px;
    position: relative;
    top: 5px; }

.btn-facebook:hover {
  color: #185289;
  background: #ffffff; }

.btn-blue2 {
  color: #ffffff !important;
  border: 2px solid #185289 !important;
  background-color: #185289 !important;
  padding: 8px 10px 5px 10px;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px !important; }

.btn-blue2:hover {
  color: #185289 !important;
  background-color: #ffffff !important; }

.form-check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 5px; }

.form-check:hover input ~ .checkmark {
  background-color: #ccc;
  border-radius: 5px; }

.form-check input:checked ~ .checkmark {
  background-color: #563F99;
  border-radius: 5px; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.form-check input:checked ~ .checkmark:after {
  display: block; }

.form-check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.transition,
.awesomePlanetForm .inputlight label,
.awesomePlanetForm .inputlight input {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5); }

.awesomePlanetForm {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 60px 0 0 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.sectionlist {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px 0 0 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

textarea:focus, input:focus {
  outline: none; }

.awesomePlanetForm .inputlight {
  position: relative;
  padding: 5px 0; }

.awesomePlanetForm .inputlight:first-of-type {
  padding-top: 0; }

.awesomePlanetForm .inputlight:last-of-type {
  padding-bottom: 0; }

.awesomePlanetForm .inputlight label {
  transform-origin: left center;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
  color: #D6D6D6; }

.awesomePlanetForm .inputlight input {
  appearance: none;
  background-color: none;
  border-bottom: 1px solid #828282;
  border-top: 0px solid #6B3891;
  border-right: 0px solid #6B3891;
  border-left: 0px solid #6B3891;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 0px;
  color: #D6D6D6;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  color: #5E5E5E !important; }

.awesomePlanetForm .inputlight input[type="text"]:focus, .awesomePlanetForm .inputlight input[type="email"]:focus {
  outline: none;
  background: #ffffff;
  margin-top: 30px;
  border-bottom: 1px solid #5E5E5E;
  color: #5E5E5E !important; }

.awesomePlanetForm .inputlight input:valid {
  margin-top: 30px; }

.awesomePlanetForm .inputlight input:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
  color: #5E5E5E !important; }

.awesomePlanetForm .inputlight input:valid ~ label {
  font-weight: 700;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(2px, -24px) scale(0.9);
  color: #185289 !important; }

/*==================================================*/
/*7.-CSS ESPECÍFICO.................................*/
/*==================================================*/
.navbar-light {
  background-color: #fff;
  padding: 0px 10px; }

.navbar .logo {
  width: 150px;
  margin-left: 30px; }

.navbar .from-search {
  width: 100%;
  margin-left: 67px; }
  .navbar .from-search .gradientSearch {
    height: 50px;
    width: 100%;
    border: 2px solid #185289;
    border-radius: 12px;
    color: #185289;
    text-transform: capitalize; }
  .navbar .from-search .btn-search {
    font-size: 28px !important;
    border: 1px solid #185289;
    background-color: #185289;
    display: block;
    padding: 6px 15px 0px 15px;
    border-radius: 12px;
    color: #fff;
    position: absolute;
    left: calc(100% - 83px);
    z-index: 1;
    font-weight: 300;
    margin-top: 0px;
    width: 60px;
    cursor: pointer; }
  .navbar .from-search .btn-search:hover {
    background-color: #563F99; }

.iconBar {
  margin: 6px 10px 0px 10px;
  position: relative;
  cursor: pointer; }
  .iconBar i {
    font-size: 42px;
    font-weight: regular;
    color: #185289; }
  .iconBar i:hover {
    font-weight: regular;
    color: #6B3891; }
  .iconBar a:hover {
    text-decoration: none; }
  .iconBar img {
    border-radius: 50%;
    width: 45px; }
  .iconBar .counter {
    background-color: #852F86;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    min-width: 20px;
    min-height: 20px;
    border-radius: 20px;
    padding: 2px 6px 0px 7px;
    position: absolute;
    top: 22px;
    left: 23px; }

.iconMenu {
  margin: 6px 10px 0px 10px;
  cursor: pointer; }
  .iconMenu a {
    text-decoration: none; }
  .iconMenu i {
    font-size: 40px;
    font-weight: regular;
    color: #3D4042;
    position: relative;
    top: 5px;
    left: -10px; }
  .iconMenu img {
    border-radius: 50%;
    width: 40px;
    position: relative;
    top: -10px;
    left: 0px; }

.form-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.optionsStore {
  list-style-type: none;
  color: #185289;
  display: none; }
  .optionsStore h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 13px; }
    .optionsStore h2 span {
      font-size: 23px !important;
      color: #6B3891 !important;
      margin-bottom: 0px;
      margin-left: 5px; }
  .optionsStore .separador {
    margin-bottom: 2px;
    margin-top: 5px; }
  .optionsStore i {
    color: #185289;
    font-size: 24px; }
  .optionsStore a {
    color: #185289; }
  .optionsStore a {
    font-size: 18px !important;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 3px; }
  .optionsStore a:hover {
    background-color: #F9FAFC;
    font-weight: bold; }
    .optionsStore a:hover i {
      font-weight: bold; }

.iconMenu:hover .optionsStore {
  display: block;
  position: absolute;
  right: -12px; }

.row.prod {
  margin-right: 0px !important;
  margin-left: 0px !important; }

.navMenu {
  -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  margin-top: 63px;
  background-color: #F2F2F2;
  margin-bottom: 0px;
  position: fixed;
  padding-bottom: 0px;
  top: -5px;
  z-index: 12;
  width: 100%; }
  .navMenu nav {
    height: auto; }
  .navMenu ul {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    list-style: none; }
    .navMenu ul li:hover .submenu {
      display: block;
      position: absolute;
      right: -12px; }
      .navMenu ul li:hover .submenu a {
        font-size: 12px; }

.navMenu > nav > ul > li {
  position: relative;
  display: inline-flex;
  margin-right: 22px; }
  .navMenu > nav > ul > li a {
    font-family: #3D4042;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    color: #3D4042;
    text-decoration: none;
    font-size: 13px; }
  .navMenu > nav > ul > li a:hover {
    color: #185289; }
  .navMenu > nav > ul > li a::after {
    content: " ";
    display: table-cell;
    width: calc(100% - 20px);
    height: 5px;
    background-color: #F2F2F2;
    border-radius: 2px;
    left: 10px;
    bottom: 0px;
    position: absolute; }
  .navMenu > nav > ul > li > a:hover::after {
    background-color: #185289; }

.submenu {
  position: absolute;
  top: 39px;
  display: none;
  width: 250px;
  padding-bottom: 15px !important; }
  .submenu li {
    display: block; }
  .submenu a::after {
    display: none !important; }
  .submenu a {
    padding: 5px 20px 5px 20px !important;
    text-align: left !important;
    text-transform: capitalize !important;
    line-height: 15px;
    font-size: 12px !important; }

.productosDetail .slider {
  width: 100%;
  margin: 10px auto; }

.regular {
  width: 100%;
  align-items: center;
  vertical-align: center;
  display: inline-flex !important;
  justify-content: center !important; }

.promo-banner {
  width: 100%;
  align-items: center;
  vertical-align: center;
  display: inline-flex !important;
  justify-content: center !important; }

.card {
  border-radius: 1.25rem; }

.optionCart {
  display: none; }

.card {
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  box-shadow: 1px 4px 12px -2px rgba(95, 78, 78, 0.25);
  border: none; }

.card:hover {
  -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.8);
  -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.8);
  box-shadow: 1px 4px 12px -2px rgba(95, 78, 78, 0.8);
  transition: all 0.25s; }

.card:hover .optionCart {
  display: block;
  position: absolute;
  top: 50px;
  right: 16px; }
  .card:hover .optionCart ul li {
    list-style: none;
    margin-bottom: 10px; }
    .card:hover .optionCart ul li a {
      text-decoration: none;
      background-color: #ffffff;
      font-weight: 900;
      padding: 4px 6px 0px 6px;
      border-radius: 5px;
      color: #185289;
      font-size: 28px !important;
      -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.5);
      -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.5);
      box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.5); }
    .card:hover .optionCart ul li a:hover {
      background-color: #185289;
      color: #ffffff; }

.tittle-separator h1 {
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #3D4042;
  text-transform: uppercase; }

.tittle-separator h1:before,
.tittle-separator h1:after {
  background-color: #185289;
  content: "";
  display: inline-block;
  height: 1.8px;
  position: relative;
  vertical-align: middle;
  width: 5%; }

.tittle-separator h1:before {
  right: 0.5em;
  margin-left: -50%; }

.tittle-separator h1:after {
  left: 0.5em;
  margin-right: -50%; }

.main {
  margin-top: 60px; }

.cardPromo {
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
  box-shadow: 1px 4px 12px -2px rgba(95, 78, 78, 0.25);
  border: none;
  border-radius: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box; }

.cardPromo-info {
  position: absolute;
  padding: 20px; }
  .cardPromo-info .blue {
    color: #185289; }
  .cardPromo-info .pink {
    color: #852F86; }
  .cardPromo-info .darkPurple {
    color: #6B3891; }
  .cardPromo-info h3 {
    margin-bottom: 0px;
    font-weight: bolder; }
  .cardPromo-info h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 22px; }
  .cardPromo-info p {
    margin-top: 0px;
    margin-bottom: 0px; }
  .cardPromo-info h5.white {
    color: #ffffff !important; }

.cardPromo-info.left h5 {
  font-size: 24px;
  padding-right: 120px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 22px; }

.cardPromo-info.right {
  width: 100%;
  text-align: right;
  justify-items: flex-end; }
  .cardPromo-info.right .btn {
    float: right; }
  .cardPromo-info.right h5 {
    font-size: 24px;
    padding-left: 120px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 22px; }

.cardPromo-info.left {
  width: 100%;
  text-align: left; }

.banner-image {
  height: 180px;
  border-radius: 1rem !important; }

.product-image {
  border-radius: 1.25rem 1.25rem 0 0;
  height: 250px; }

.image-responsive {
  overflow: hidden;
  background-size: cover;
  background-position: top;
  display: block;
  background-repeat: no-repeat; }
  .image-responsive img {
    width: 100%; }

.inline-flex {
  display: inline-flex !important;
  width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slider-navigation-1 .slider-navigation.slider-navigation-prev {
  left: 50px; }

.single-hero-item {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  min-height: calc(100vh - 150px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50%; }
  .single-hero-item.center {
    text-align: center; }
  .single-hero-item.right {
    text-align: right; }
  .single-hero-item.left {
    text-align: left; }
  .single-hero-item h3 {
    margin-bottom: 0px;
    font-weight: 100;
    color: #185289;
    font-size: 19px !important;
    text-transform: uppercase; }
  .single-hero-item h5 {
    font-size: 50px !important;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #3D4042;
    line-height: 45px; }
  .single-hero-item p {
    margin-top: 40px !important;
    font-size: 24px !important;
    margin-bottom: 0px; }
  .single-hero-item .btn {
    display: inline;
    margin-top: 40px; }

.slider-navigation-1 .slider-navigation {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 36px;
  padding: 0px 10px;
  line-height: 15px;
  display: inline-block;
  text-align: center;
  border: 1px solid #185289;
  color: #185289;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -25px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.slider-navigation-1 .slider-navigation:hover {
  border: 1px solid #185289;
  color: #ffffff;
  background: #185289; }

.slider-navigation-1 .slider-navigation.slider-navigation-next {
  right: 10px; }

.slider-navigation-1 .slider-navigation.slider-navigation-prev {
  left: 10px; }

.single-hero-item .hero-content {
  padding: 100px 0; }

.bg-black {
  background: #232F3E !important; }

.footer-copyright-area {
  background-color: #151F28; }
  .footer-copyright-area p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px; }

.footer-area .footer-top-area {
  padding: 40px 40px 10px 40px; }

.footer-area a {
  color: #D9E4ED;
  font-weight: 100; }

.footer-area h6 {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px; }

.footer-area .footer-logo {
  text-align: center; }
  .footer-area .footer-logo img {
    width: 70%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline; }

.footer-area ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px; }

.footer-area .footer-social-links ul {
  display: flex; }
  .footer-area .footer-social-links ul li {
    margin-right: 10px; }
    .footer-area .footer-social-links ul li a {
      display: block;
      width: 32px;
      text-decoration: none;
      height: 32px;
      border-radius: 100%;
      line-height: 30px;
      text-align: center;
      font-size: 18px;
      border: 2px solid #ffffff;
      color: #ffffff; }
    .footer-area .footer-social-links ul li a:hover {
      color: #852F86;
      border: 2px solid #852F86; }

.menusub {
  display: inline-flex; }

/*==================================================*/
/*8.-CSS MEDIA......................................*/
/*==================================================*/
@media only screen and (max-width: 1199px) {
  .hero-area.slider-navigation-1 .slider-navigation.slider-navigation-next {
    left: calc(50% + 10px);
    right: auto; }
  .hero-area.slider-navigation-1 .slider-navigation.slider-navigation-prev {
    left: auto;
    right: calc(50% + 10px); }
  .hero-area.slider-navigation-1 .slider-navigation {
    font-size: 34px;
    padding-left: 5px;
    top: auto;
    bottom: 20px; } }

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    background-color: #e1e1e1cc;
    margin: 0px;
    padding: 50px 40px;
    width: 100vw; }
  .single-widget {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
  .footer-area .footer-social-links ul {
    width: 80px;
    margin: 0px auto; }
  .navbar {
    height: 60px; }
  .hidden-900 {
    display: none; }
  .logo {
    width: 50px !important; }
  .menusub {
    position: fixed;
    /* top: 0px; */
    display: inherit;
    bottom: 0px;
    z-index: 2;
    left: 0px;
    width: 100vw;
    text-align: center;
    background-color: #efefef;
    padding: 5px 20px; }
  .iconBar {
    margin: 0px 10%; }
  .main {
    margin-top: 62px;
    padding-bottom: 62px; }
  .logoMobile {
    position: absolute;
    left: -33px;
    top: 0px; }
  .toggleMobile {
    margin-top: 5px;
    position: absolute;
    right: 0px; }
  .searchMobile {
    position: absolute;
    width: 280px;
    margin-top: -2px; }
    .searchMobile .btn-search {
      left: calc(100% - 76px) !important; }
  .nav {
    justify-content: start !important; }
  .navMenu {
    height: 100vh;
    background-color: #f2f2f2; }
    .navMenu ul {
      margin-left: 0px;
      padding-left: 10px;
      padding-top: 2px; }
    .navMenu nav ul li {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-right: 22px;
      padding-top: 10px; }
      .navMenu nav ul li a {
        font-size: 18px !important; }
  .submenu {
    position: relative;
    top: 0px;
    display: block;
    width: 100%;
    padding-bottom: 15px !important; }
    .submenu ul {
      height: 100%; }
      .submenu ul a {
        color: #185289 !important; } }

@media (min-width: 1024px) {
  .show-900 {
    display: none; }
  .logo {
    width: 50px; }
  .bgWhite-simple {
    -webkit-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
    -moz-box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
    box-shadow: 1px 4px 12px -2px rgba(120, 120, 120, 0.25);
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 1rem; } }
